html {
    width: 100%;
    height: 100%;
    position: relative;
    background:#FFffff;
    background-size: cover;
}

body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
}

footer {
    position:absolute;
    bottom: 0;
    left:0;
    color: red;
    text-align: justify;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.introBtn{
    width: 20em;
    height: inherit;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    position: absolute;
    left: 40%;

}
 .introBtn:hover {
    background-color: royalblue;
}

.metalImage{
    text-align: center;
}

#metalOptions{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
    
}

#metalOptions input{
    font-size: 18px;
}

#metalOptions label {

    font-size: 18px;
    font-style: oblique;
    
}

#metalOptions label:hover::before {
    content: attr(for);
    font-family: Roboto, -apple-system, sans-serif;
}

#coinOptions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: inherit;
    background-color: #bb2165;   

}
/* #coinText {
    width: 300px; 
    padding: 20px;
    background-color: #63bb21;
    border: 1px solid #ddd;
    text-align: center;
  } */


h1 {
    text-align: Justify; 
    font-size: 60px;
    justify-content: center;
}

h2 {
    margin: 70px 10px 20px 10px;
    font-size: 20px;
    line-height: 1;
    padding-bottom: 12px;
    border-bottom: 1px solid #aaa;
}

p {
    margin-top: 20px;
    color: #555;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
}

.text {
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    padding: 0px;
}

.graphic {
    width: 500px;
    height: 500px;
    max-width: calc(90vw - 20px);
    max-height: calc(90vw - 20px);

    position: absolute;
    top: 0px;
    left: 0px;
}

.container {
    width: 500px;
    height: 500px;
    max-width: calc(90vw - 20px);
    max-height: calc(90vw - 20px);
    position: absolute;

    margin: auto;
    border: 1px solid #aaa;
}

#svg {
     opacity: 0;
}

/* https://getcssscan.com/css-buttons-examples */

/* CSS */
.nonSelected {
    width: 10%;
    appearance: none;
    border: 2px solid #1A1A1A;
    border-radius: 40px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: grid;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-width: 0;
    outline: solid;
    outline-width: thin;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    background-color: white;
}

.nonSelected:disabled {
    pointer-events: none;
}

.nonSelected:hover {
    color: #fff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-10px);
}

.selected {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 40px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    margin: 5px;
    min-width: 0;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;

    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-10px);
}

.nonSelected:active {
    box-shadow: none;
    transform: translateY(0);
}
